* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background: #0f4a65;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
}
#content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#map {
    width: 75%;
    height: 100vh;
    cursor: crosshair;
    border: 5px solid white;
}

.leaflet-popup-content {
    color: black;
}

#data {
    width: 25%;
    text-align: center;
}
#data input, #data label,  #data button {
    margin: 15px;
}

#data input, #data button {
    border-radius: 5px;
    border: 1px solid grey;
    background: #f7f7f7;
}

#data input {
    height: 35px;
    text-align: center;
}

#data button {
    width: 150px;
    height: 55px;
    background: white;
    border: 1px solid grey;
}

#data button:active {
    background: grey;
    color: white;
}

@media screen and (max-width: 1000px){
    #content {
        flex-direction: column-reverse;;
    }
    #map, #data {
        width: 100%;
    }
}




#zdsFlag {
    position: fixed;
    width: 360px;
    height: 45px;
    top: 69px;
    right: -90px;
    transform: rotateZ(45deg);
    text-align: center;
    background: #19516b;
    border: 3px solid #f8ad32;
    box-shadow: 0 0 0 5px 0 #f8ad32;
    line-height: 40px;

}

#zdsFlag a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;

    transition: all .5s ease;
}

#zdsFlag a:hover {
    color: #f8ad32;
}
